body{
    margin-top: 50px !important;
    text-align: center !important;
}
.Field{
    /* width: 50% !important; */
    justify-self: center !important;
    margin-top: 2rem;
}
form{
    width: 40% !important;
    padding-top: 2rem;
    justify-self: center !important;
}
.color{
    color: #605b5b;
}
.margin{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.loca{
    height: 150px;
}
.sloth{
    height: 150px;
    margin-left: 65rem;
    float: right !important;
}
.flex{
    display: flex;
    width: 100%;
}
@media screen and (max-width: 600px) {
    form{
        width: 90% !important;
        padding-top: 2rem;
        justify-self: center !important;
    }
    .loca{
        height: 100px;
    }
    .sloth{
        height: 100px;
        margin-left: 0;
        float: right !important;
    }
    .flex{
        display: flex;
    }
  }