.loader{
    height: 75px;
    width: 75px;
    margin-top: 15rem;
}
.margin{
    margin-top: 15rem !important;
    padding-top: 15rem !important;
    display: block !important;
    text-align: center !important;
}
.margin img{
    display: block !important;
    justify-self: center !important;
    margin-bottom: 2rem;
    height: 100px;
}